@import 'tailwindcss';

:root {
	font-display: block;
}

.light {
	color-scheme: light;
	--background: #fff0d5;
	--foreground: #180000;
	--primary: #774e24;
	--primary-foreground: #fff0d5;
	background-color: var(--background);
	color: var(--foreground);
}

.dark {
	color-scheme: dark;
	--background: #180000;
	--foreground: #fff0d5;
	--primary: #774e24;
	--primary-foreground: #fff0d5;
	background-color: var(--background);
	color: var(--foreground);
}

[data-theme='serif'] {
	font-family: serif;
	--font: serif;
}

[data-theme='sans-serif'] {
	font-family: sans-serif;
	--font: sans-serif;
}

[data-theme='cursive'] {
	font-family: cursive;
	--font: cursive;
}

[data-theme='monospace'] {
	font-family: monospace;
	--font: monospace;
}

[data-button-root] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
}

[data-button-root][href='/'] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	background-color: var(--primary);
	opacity: 1;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 2px;
}

input {
	border: 1px var(--foreground) solid;
	color: var(--foreground);
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
	outline-color: var(--foreground);
}

[data-select-trigger] {
	border: 1px var(--foreground) solid;
	color: var(--foreground);
	border-radius: 7px;
	padding: 0.5rem;
	outline-color: var(--foreground);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
}

[data-select-content] {
	width: 10rem;
	border-radius: 7px;
	outline: none;
	height: fit-content;
	background-color: var(--background);
	border-color: var(--foreground);
	border: 1px solid;
}

[data-select-item] {
	cursor: pointer;
	padding: 0.25rem 0.5rem;
}

.h1 {
	margin-bottom: 1.25rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

form {
	text-align: center;
}
