@import 'tailwindcss';

:root {
	font-display: block;
	--page: calc(8.5in - 40px);
}

::selection {
	background-color: var(--p);
	color: var(--p-fg);
}

:focus {
	outline-color: var(--p);
}

[data-theme*='default'] {
	color-scheme: light;
	--bg: #fff0d5;
	--fg: #000;
	--p: #774e24;
	--p-fg: #fff0d5;
	--o: #000;
	--red: #991b1b;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='wumpus'] {
	color-scheme: dark;
	--bg: #323338;
	--fg: #fff;
	--p: #5a65ea;
	--p-fg: #fff;
	--red: #de4e45;
	--o: #777;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='nord'] {
	color-scheme: dark;
	--bg: #2e3440;
	--fg: #eceff4;
	--p: #88c0d0;
	--p-fg: #0a0a0a;
	--red: #ff616a;
	--o: #4c566a;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='og'] {
	color-scheme: dark;
	--bg: #0a0a0a;
	--fg: #fafafa;
	--p: #00dfdf;
	--p-fg: #0a0a0a;
	--red: #de4e45;
	--o: #444;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='blue'] {
	color-scheme: light;
	--bg: #fff;
	--fg: #000;
	--p: #09f;
	--p-fg: #fff;
	--red: #c91b1b;
	--o: #000;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='georgia'],
.georgia {
	--font: Georgia, Garamond, serif;
	font-family: var(--font);
}

[data-theme*='arial'],
.arial {
	--font: Arial, Helvetica, sans-serif;
	font-family: var(--font);
}

[data-theme*='tahoma'],
.tahoma {
	--font: Tahoma, verdana, sans-serif;
	font-family: var(--font);
}

[data-theme*='times'] {
	--font: 'Times New Roman', serif;
	font-family: var(--font);
}

.times {
	font-family: 'Times New Roman', serif;
	font-size: 0.85rem;
}

[data-theme*='trebuchet'],
.trebuchet {
	--font: 'Trebuchet MS', 'Fira Sans', sans-serif;
	font-family: var(--font);
}

[data-button-root] {
	background-color: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
}

[data-button-root][href] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	background-color: var(--p);
	opacity: 1;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 2px;
}

input {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
}

input:focus {
	outline: 2px solid var(--p);
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 7px;
	padding: 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
}

[data-select-trigger]:focus {
	outline: 2px solid var(--p);
}

[data-select-content] {
	width: 10rem;
	border-radius: 7px;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
	border: 1px var(--o) solid;
}

[data-select-item] {
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

.group-heading {
	opacity: 0.6;
	text-align: center;
	border-bottom: 0.08rem var(--o) solid;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
	font-size: 0.9rem;
}

.h1 {
	margin-bottom: 1.25rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

form {
	text-align: center;
}

.page {
	margin: auto;
	border-radius: 15px;
	border: 1px solid var(--o);
	height: 11in;
	width: 8.5in;
	padding: 20px;
}

.content {
	font-family: var(--font);
	max-width: calc(8.5in - 40px);
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.cursor {
	height: 20px;
	background-color: var(--p);
	width: 1.5px;
	display: inline-block;
	position: relative;
	top: 4px;
}

.hidden-cursor {
	background-color: transparent;
}
