@import 'tailwindcss';
@import './themes.css';

:root {
	font-display: block;
	--page: calc(8.5in - 40px);
}

::selection {
	background: var(--p);
	color: var(--p-fg);
}

:focus {
	outline-color: var(--p);
}

[data-button-root] {
	background: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
}

[data-button-root][href] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	opacity: 1;
}

.red-button {
	background-color: var(--red);
}

.red-button:hover {
	background-color: var(--red);
	opacity: 1;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 2px;
}

input {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
}

input:focus {
	outline: 2px solid var(--p);
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 7px;
	padding: 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
}

[data-select-trigger]:focus {
	outline: 2px solid var(--p);
}

[data-select-content] {
	width: 10rem;
	border-radius: 7px;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
	border: 1px var(--o) solid;
}

[data-select-item] {
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

.group-heading {
	opacity: 0.6;
	text-align: center;
	border-bottom: 0.08rem var(--o) solid;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
	font-size: 0.9rem;
}

.h1 {
	margin-bottom: 1.25rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

form {
	text-align: center;
}

.page {
	margin: auto;
	border-radius: 5px;
	border: 1px solid var(--o);
	height: 11in;
	width: 8.5in;
	padding: 20px;
}

.content {
	font-family: var(--font);
	max-width: calc(8.5in - 40px);
	white-space: pre-wrap;
	overflow-wrap: break-word;
	letter-spacing: 0;
	font-size: 0;
	color: var(--fg);
}

.content-cursor {
	font-family: var(--font);
	max-width: calc(8.5in - 40px);
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.cursor {
	display: relative;
	height: 20px;
	background: var(--p);
	width: 1.5px;
	display: inline-block;
	position: relative;
	top: 4px;
}

.hidden-cursor {
	position: relative;
	height: 20px;
	background-color: var(--bg);
	width: 1.5px;
	display: inline-block;
	position: relative;
	top: 4px;
}
