@import 'tailwindcss';

:root {
	--background: #fff0d5;
	--foreground: #180000;
	--primary: #774e24;
	--primary-foreground: #fff0d5;
	--font: serif;
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font);
}

[data-button-root] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.95;
}

[data-button-root][href='/'] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	background-color: var(--primary);
	opacity: 1;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 3px;
}

input {
	border: 1px var(--foreground) solid;
	color: var(--foreground);
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
	outline-color: var(--foreground);
}

.h1 {
	margin-bottom: 1.25rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

form {
	text-align: center;
}
