@import 'tailwindcss';

:root {
	font-display: block;
}

::selection {
	background-color: var(--primary);
	color: var(--primary-foreground);
}

[data-theme*='default'] {
	color-scheme: light;
	--background: #fff0d5;
	--foreground: #000;
	--primary: #774e24;
	--primary-foreground: #fff0d5;
	--outline: #000;
	--red: #991b1b;
	background-color: var(--background);
	color: var(--foreground);
}

[data-theme*='discord'] {
	color-scheme: dark;
	--background: #323338;
	--foreground: #fff;
	--primary: #5a65ea;
	--primary-foreground: #fff;
	--red: #de4e45;
	--outline: #777;
	background-color: var(--background);
	color: var(--foreground);
}

[data-theme*='og'] {
	color-scheme: dark;
	--background: #0a0a0a;
	--foreground: #fafafa;
	--primary: #00dfdf;
	--primary-foreground: #0a0a0a;
	--red: #de4e45;
	--outline: #444;
	background-color: var(--background);
	color: var(--foreground);
}

[data-theme*='blue'] {
	color-scheme: light;
	--background: #fff;
	--foreground: #000;
	--primary: #09f;
	--primary-foreground: #fff;
	--red: #991b1b;
	--outline: #000;
	background-color: var(--background);
	color: var(--foreground);
}

[data-theme*='georgia'],
.georgia {
	--font: Georgia, Garamond, serif;
	font-family: var(--font);
}

[data-theme*='arial'],
.arial {
	--font: Arial, Helvetica, sans-serif;
	font-family: var(--font);
}

[data-theme*='verdana'],
.verdana {
	--font: Verdana, Tahoma, sans-serif;
	font-family: var(--font);
}

[data-theme*='times'] {
	--font: 'Times New Roman', serif;
	font-family: var(--font);
}

.times {
	font-family: 'Times New Roman', serif;
	font-size: 0.85rem;
}

[data-theme*='trebuchet'],
.trebuchet {
	--font: 'Trebuchet MS', 'Fira Sans', sans-serif;
	font-family: var(--font);
}

[data-button-root] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
}

[data-button-root][href] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	background-color: var(--primary);
	opacity: 1;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 2px;
}

input {
	border: 1px var(--outline) solid;
	color: var(--foreground);
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
}

input:focus {
	outline: 2px solid var(--primary);
}

[data-select-trigger] {
	border: 1px var(--outline) solid;
	color: var(--foreground);
	border-radius: 7px;
	padding: 0.5rem;
	outline-color: var(--foreground);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
}

[data-select-trigger]:focus {
	outline: 2px solid var(--primary);
}

[data-select-content] {
	width: 10rem;
	border-radius: 7px;
	outline: none;
	height: fit-content;
	background-color: var(--background);
	border: 1px var(--outline) solid;
}

[data-select-item] {
	cursor: pointer;
	padding: 0.25rem 0.5rem;
}

.group-heading {
	opacity: 0.6;
	text-align: center;
	border-bottom: 0.08rem var(--outline) solid;
	padding-bottom: 0.25rem;
	padding-top: 0.5rem;
}

.h1 {
	margin-bottom: 1.25rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

form {
	text-align: center;
}
