/* Color Schemes */

[data-theme*='default'] {
	color-scheme: light;
	--bg: #fff0d5;
	--a: #eedfc2;
	--fg: #000000;
	--p: #774e24;
	--p-fg: #fff0d5;
	--o: #000000;
	--red: #991b1b;
	--c: #774e24;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme*='og'] {
	color-scheme: dark;
	--bg: #222222;
	--a: #272727;
	--fg: #fafafa;
	--p: #00dfdf;
	--p-fg: #0a0a0a;
	--red: #de4e45;
	--o: #444444;
	--c: #00dfdf;
	background-color: var(--bg);
	color: var(--fg);
}

/* Fonts */

[data-theme*='georgia'],
.georgia {
	--font: Georgia, Garamond, serif;
	font-family: var(--font);
}

[data-theme*='arial'],
.arial {
	--font: Arial, Helvetica, sans-serif;
	font-family: var(--font);
}

[data-theme*='tahoma'],
.tahoma {
	--font: Tahoma, verdana, sans-serif;
	font-family: var(--font);
}

[data-theme*='times'] {
	--font: 'Times New Roman', serif;
	font-family: var(--font);
}

.times {
	font-family: 'Times New Roman', serif;
	font-size: 0.85rem;
}

[data-theme*='trebuchet'],
.trebuchet {
	--font: 'Trebuchet MS', 'Fira Sans', sans-serif;
	font-family: var(--font);
}

[data-theme*='system'],
.system {
	--font: system-ui;
	font-family: var(--font);
}
